<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all songs</title>
    <link rel="stylesheet" type="text/css" th:href="@{/displayplaylist.css}">

</head>
<body style="background-color: black; color: white;">
    <h1 style="font-family: 'Futura', sans-serif;">PlayList songs</h1>
    <table border=1px style="border-color: white; width: 100%; font-family: 'Futura', sans-serif;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Songs</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="playlist : ${Allplaylist}">
                <td th:text="${playlist.id}"></td>
                <td th:text="${playlist.name}"></td>
                <td>
                    <ul>
                        <li th:each="song : ${playlist.songs}">
                            <span th:text="${song.name}"></span>
                            <audio controls>
                                <source th:src="${song.link}" type="audio/mp3">
                            </audio>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
