input[type="submit"] {
    width: 50%;
    padding: 10px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: futura;
    transition: .5s;
}

input[type="submit"]:hover {
    background-color: rgb(73, 174, 73);
    color: white;
    font-family: futura;         
    border-radius: 25px;
    font-size: 19px;
    height: 43px;
}